//COLORS
$color-white-smoke: #F5F5F5;
$color-whisper: #E8E8E8;
$color-dark-gray: #A4A4A4;
$color-dark-gray-transparent: #a4a4a47e;
$color-darker-gray: #585858;
$color-red: #a20000;
$color-white: #FFFFFF;
$color-black: #000000;
$color-orange: #FC6D3E;



//FONTS
$ff-actor: "Actor", sans-serif;

//VIEWPORTS
$vp-mobile: 767px;

$transition-300: 0.3s ease-in;