@use "../global/variables" as *;
@use "../global/mixins" as *;

.audio {
  padding: 34px 0;

  @include vp-767 {
    padding: 80px 0 150px;
    margin: 0 auto;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $color-black;

    @include vp-767 {
      display: none;
    }
  }

  &__table {
    flex: 1;
  }

  &__info {
    padding: 5px 0 20px;

    @include vp-767 {
      padding: 0 0 30px;
      font-size: 14px;
    }
  }
}
