@use "../global/variables" as *;
@use "../global/mixins" as *;

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  background-color: $color-whisper;
  padding: 20px 30px;
  border-radius: 10px;

  @include vp-767 {
    gap: 15px;
  }

  &__error {
    color: $color-red;
    margin: 0 auto;

    @include vp-767 {
      text-align: center;
    }
  }
}
