@use "../global/variables" as *;
@use "../global/mixins" as *;

.auth {
  margin: 0 auto;
  padding: 110px 0 50px;

  @include vp-767 {
    padding-top: 90px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: $color-white-smoke;
    padding: 30px 50px;
    border-radius: 20px;
    min-width: 700px;

    @include vp-767 {
      min-width: 300px;
      padding: 10px 20px;
      background-color: $color-white;
      gap: 15px;
    }
  }

  &__title {
    margin: 0;
    color: $color-darker-gray;
    font-size: 60px;

    @include vp-767 {
      font-size: 30px;
    }
  }

  &__link {
    color: $color-dark-gray;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      color: $color-black;
    }

    @include vp-767 {
      font-size: 12px;
    }
  }
}
