@use "../global/variables" as *;
@use "../global/mixins" as *;

.filters {
  padding: 30px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include vp-767 {
    padding: 30px 0 15px;
    gap: 10px;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $color-darker-gray;
    color: $color-darker-gray;
    font-family: $ff-actor;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
    transition: color $transition-300, border $transition-300;

    &.active {
      color: $color-black;
      border: 1px solid $color-black;
    }

    &:hover,
    &:focus-visible {
      color: $color-black;
      border: 1px solid $color-black;
    }
  }
}
