@use "../global/variables" as *;
@use "../global/mixins" as *;

.header {
  position: relative;
  padding: 15px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: $color-white;

  @include vp-767 {
    padding: 15px 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 276px;

    @include vp-767 {
      position: relative;
      flex-direction: column-reverse;
      padding-left: 0;
      align-items: flex-end;
    }
  }

  &__logo {
    width: 289px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    @include vp-767 {
      width: auto;
    }
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__search-bar {
    width: 768px;
    border-radius: 30px;
    padding: 20px 44px;
    background-color: $color-white-smoke;
    height: 53px;
    border: none;
    outline: none;
    color: $color-black;
    font-family: $ff-actor;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09em;

    &::placeholder {
      font-family: $ff-actor;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: #a4a4a4;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__search-bar-icon {
    position: absolute;
    left: 12px;
    top: 15px;

    @include vp-767 {
      display: none;
    }
  }

  &__clear-btn {
    background-color: transparent;
    border: none;
    color: $color-black;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 280px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__dropdown {
    display: flex;
  }
}
