@use "../global/variables" as *;
@use "../global/mixins" as *;

.tracks-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  $root: &;

  @include vp-767 {
    display: none;
  }

  &__row {
    display: grid;
    grid-template-columns: 40px 434px 262px 239px 99px;
    align-items: center;
    border-bottom: 1px solid $color-white-smoke;

    &:first-child {
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $color-dark-gray;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__body &__row {
    background-color: transparent;
    border-bottom: 1px solid $color-white-smoke;
    transition: background-color $transition-300;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: $color-white-smoke;
    }
    & > div {
      display: flex;
      align-items: center;
      padding: 10px 8px;
      justify-content: space-between;
      text-transform: none;
    }

    #{$root}__album {
      justify-content: flex-start;
      gap: 10px;
    }

    #{$root}__row-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      padding: 0;

      & span {
        text-transform: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: $color-dark-gray;
        text-align: left;
      }

      & span:first-child {
        font-size: 14px;
        color: $color-black;
      }
    }

    #{$root}__date {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.01em;
      color: $color-dark-gray;
    }

    #{$root}__favourite-btn {
      border: none;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-color: transparent;
      color: $color-dark-gray;
      transition: color $transition-300;

      &:hover,
      &:focus-visible {
        color: $color-red;
      }

      &.active {
        color: $color-red;
      }
    }

    #{$root}__duration {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.01em;
      color: $color-dark-gray;
    }
    #{$root}__number {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $color-black;
    }

    #{$root}__album-name {
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.01em;
      color: $color-black;
    }
  }

  &--list {
    display: none;

    #{$root}__row {
      padding: 0 10px 0 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      background-color: $color-white;
      min-height: 70px;

      & > div {
        display: flex;
        align-items: center;
        // justify-content: flex-start;
        padding: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $color-dark-gray;
      }

      & {
        div {
          padding: 0;
        }
      }
    }

    #{$root}__album {
      display: flex;
      gap: 10px;
      align-items: center;
      flex: 1;

      & img {
        width: 70px;
        height: 70px;
      }
    }
    #{$root}__row-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 0;
      align-items: flex-start;
      width: 100%;

      & span {
        font-size: 12px;
        text-transform: none;
        text-align: left;
        width: 100%;
      }

      & span:first-child {
        font-size: 16px;
        color: $color-black;
      }
    }

    #{$root}__duration {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    #{$root}__favourite-btn {
      border: none;
      cursor: pointer;
      width: 45px;
      height: 45px;
      background-color: transparent;
      color: $color-dark-gray;
      transition: color $transition-300;
      padding: 0;

      &:hover,
      &:focus-visible {
        color: $color-red;
      }

      &.active {
        color: $color-red;
      }
    }

    @include vp-767 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
